@custom-variant dark (&:where(.dark &));
@import "tailwindcss";



:root {
  --background: #efefef;
  --foreground: #0f172a;
}

/* Dark mode controlado por clase */
.dark {
  --background: #041f2f;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 200;
}
