@custom-variant dark (&:where(.dark &));
@import "tailwindcss";


@plugin "tailwind-scrollbar-hide";

:root {

  --background: #fda722;
  --foreground: #0f172a;
}

/* Dark mode controlado por clase */
.dark {
  --background: #041f2f;
  --foreground: #ededed;
}

@theme inline {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 200;
}

@keyframes float-heartbeat {
  0%, 20%, 60%, 100% { transform: scale(1); opacity: 1; }
  10%, 30% { transform: scale(1.35); opacity: 0.25; }

}

.heartbeat {
  animation: float-heartbeat 2s ease-in-out infinite;
  animation-delay: 2s;
}