@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #031928;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root{
    --background: #031928;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--bg-sky-950); */
  color: var(--foreground);
  font-weight: 200;
}
